{% extends "base.html" %}
{% block content%}

<div class="side-login">
    <a class="side-item" href="{{url_for('login')}}" style="color: {{ color1 }}; background-color: {{ color11 }}">Login</a>
    <a class="side-item" href="{{url_for('register')}}" style="color: {{ color2 }}; background-color: {{ color21 }}">Register</a>
    <a class="side-item" href="#" style="color: {{ color3 }}; background-color: {{ color31 }}">Forgot Password?</a>
</div>
<form class="side-form" action="{{ request.path }}" method="POST">
    {{ form.csrf_token }}
    {% with messages = get_flashed_messages(with_categories=true) %} 

    {% if messages %}
    {% for category, message in messages %} 
    <div role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bas-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %} 
    {% endwith %}

    <div>
        <h1>{{ text }}</h1>
    </div>

    <div>
        {{ form.username(class_="form-control", placeholder="Username")}}
    </div>
        {% for error in form.username.errors %}
        <div role="alert">
            {{ error }}
            <button type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    <div>
        {{ form.password(class_="form-control", placeholder="Password")}}
    </div>
    {% for error in form.password.errors %}
    <div role="alert">
        {{ error }}
        <button type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% if request.path == '/register/' %}
    <div>
        {{ form.cpwd(class_="form-control", placeholder="Confirm Password")}}
    </div>
    <div>
        {% for error in form.cpwd.errors %} 
        <div role="alert">
            {{ error }}
            <button type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> 
        {% endfor %}
        {% endif %} 
        <div>
            <button type="submit">{{ btn_action }}</button>
            <p>
                {% if request.path != '/register/' %}
                New here?
                <a href="{{url_for('register')}}">Create account</a>
                {% else %}
                Already have an account?
                <a href="{{url_for('login')}}">Login</a>
                {% endif %}
            </p>
        </div>
    </div>
</form>
{% endblock %}
